body {
    background-image: url('https://static.zerochan.net/Sword.Art.Online.full.1915599.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    height: auto;
    width: 18rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie-cards {
    display: flex;
    flex-direction: row; 
    margin-top: 3%;
    flex-wrap: wrap;
    justify-content: center
}

.add-movie {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.edit-movie {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.buttons {
    text-align: center;
    vertical-align: middle;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.movie-cont {
    display: flex;
    flex-direction: column;
}

.add-movie-main {
    width: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: -2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-movie {
    margin-top: 1.75%;
    margin-bottom: .5%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-movie {
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.poster {
    margin-bottom: 3%;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.return-button {
    width: 100%;
}