.card {
    width: 18rem;
}
.movie-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    flex-wrap: wrap;
}

.add-movie {
    display: flex;
    flex-direction: column;
}

.buttons {
    text-align: center;
    vertical-align: middle;
}